@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100;200;300;400&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #302b27;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1vw;
  color: #1b264f;
}

header a {
  text-decoration: none;
}


.logo {
  margin: 0 auto;
  text-align: center;
  background-color: #1b264f;
  color: #f5f3f5;
  font-size: 15vmin;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100%;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;   /* For Mobile Phone Devices */
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #576ca8;
}

.menu a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #f5f3f5;
}

.menu li {
  list-style: none;
  line-height: 2;
  font-size: 3vh;
  font-weight: 200;
}

.menu a:hover {
  background-color: rgba(27, 39, 80, 0.75);
}

.hero-container {
  width: 100%;
}

.hero-text {
  font-family: 'Raleway', sans-serif;
  max-width: 100%;
  background-color: #274690;
  color: #f5f3f5;
  font-size: 3vh;
  line-height: 1.5;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}

.hero-image {
  height: 55vmax;
  width: 100%;
  background-image: url('/assests/images/landing-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#about-us {
  background-color: #1b264f;
  color: #f5f3f5;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}

#about-us h2 {
  font: 'Montserrat', sans-serif;
  font-size: 4vh;
  padding-bottom: 2vh;
}

#about-us p{
  font-size: 2.3vh;
  line-height: 2.5;
  font-weight: 300;
}

#coach {
  position: relative;
}

.coach-background-one {
  height: 64rem;
  width: 100%;
  background-image: url('/assests/images/coach-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.coach-about-us {
  position: absolute;
  font-size: 4vh;
  padding-left: 1vw;
  padding-right: 1vw;
  color: #f5f3f5;
  top: 3%;
  left: 33%;
  background-color: rgba(39, 71, 144, 0.9)
}

.coach-richards {
  background-color: rgba(39, 71, 144, 0.9);
  position: absolute;
  top: 15%;
  left: 15%;
  font-size: 4vh;
  color: #f5f3f5;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
}

.coach-richards img {
  height: 35vh;
}

.flex-richards {
  display: flex;
  justify-content: center;
}

.coach-richards-name {
  text-align: center;
  font-weight: 600;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.coach-edwards {
  background-color: rgba(39, 71, 144, 0.9);
  position: absolute;
  top: 15%;
  right: 15%;
  font-size: 4vh;
  color: #f5f3f5;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
}

.coach-edwards img {
  height: 30vh;
}

.flex-edwards {
  display: flex;
  justify-content: center;
}

.coach-edwards-name {
  text-align: center;
  font-weight: 600;
  padding-top: 2vh;
  padding-bottom: 2vh;
}


/* .coach-one-text h2 {
  font: 'Montserrat', sans-serif;
  color: #f5f3f5;
  
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
} */



.coach-two-text {
  position: absolute;
  top: 53%;
  left: 5vw;
  height: 28rem;
  width: 90%;
  background-color: rgba(27, 39, 80, 0.90);
}

.coach-two-text img {
  height: 37%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.coach-two-text > p {
  color: #f5f3f5;
  text-align: center;
  padding-top: 0.75rem;
}

.far {
  color: #f5f3f5;
  font-size: 6rem;
  margin-top: 1.4rem;
  margin-left: 6rem;
}
































/* Media Queries */

/* Navigation */

  /* @media screen and (min-width:768px) {
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
  }

    .menu a {
      padding: 0 2vw;
    }

    .hero-container {
      position: relative;
    }

    .hero-text {
      position: absolute;
      background-color: rgba(48, 43, 39, 0.52);
      top: 6vh;
      left: 6vh;
      font-size: larger;
      width: 275px;
      height: 150px;
    }

    .about-us-info h2 {
      padding-left: 25px;
    }

    .about-us-info li {
      padding: 10px;
    }



  @media screen and (min-width:1200px) {
    .hero-image {
      height: 100vh;
    }
    
    
    .hero-text {
      top: 12vh;
      left: 12vh;
      font-size: xx-large;
      width: 400px;
      height: 275px;
    } 
} */