@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100;200;300;400&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #302b27;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  color: #1b264f;
}