@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100;200;300;400&display=swap');


/* Fonts */

/* font-family: 'Montserrat', sans-serif; --- Headings
font-family: 'Raleway', sans-serif; -- Content */


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  letter-spacing: 1px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  background-color: #576ca8;
  color: #f5f3f5;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1.5px;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

a {
  color: #f5f3f5;
  text-decoration: none;
}

li {
  list-style: none;
}

address {
  background-color: #274690;
  color: #f5f3f5;
  padding-top: 1em;
  padding-bottom: 0.5em;
  text-align: center;  
  font-style: normal;
}

.logo {
  background-color: #1b264f;
  font-size: 4rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.nav-container {
  background-color: #576ca8;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.hover a:hover {
  background-color: rgba(27, 39, 80, 0.75);
}

.hover a:visited {
  color: #f5f3f5;
}

.hero-text h2 {
  background-color: #274690;
}


.hero-text h3 {
  background-color: #274690;
  color: #f5f3f5;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
}


.hero-image {
  height: 600px;
  background-image: url('../images/landing-image.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#about-us {
  background-color: #1b264f;
  color: #f5f3f5;
  text-align: center;
}

#about-us li{
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 300;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}


.coach-container {
  background-image: url('../images/coach-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.flexbox-colour {
  background-color: rgba(39, 71, 144, 0.9);
  color: #f5f3f5;
  border: 5px solid #302b27;
  line-height: 2;
  padding: 1em 3em;
  margin: 2em;
}

.flexbox-colour > img {
  height: 15em;
}

.bold {
  font-weight: 900;
  text-transform: uppercase;
}

.price-container {
  background-color: #1b264f;
  color: #f5f3f5;
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.times-container {
  background: url('../images/training-times-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #f5f3f5;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

  .google-maps {
    display: block;
    width: 100%;
  }

.footer-container {
  background-color: #576ca8;
  color: #f5f3f5;  
  font-size: 2rem;
  padding-top: 1em;
  padding-bottom: 0.5em;
  display: flex;
  justify-content: space-evenly;
}

.gotopbtn {
  position: fixed;
  background-color: #274690;
  color: #f5f3f5;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  bottom: 40px;
  right: 50px;
  width: 50px;
  height: 50px; 
}

.form-background {
  position: relative;
  background-image: url('../images/signup-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.signup-container {
  background-color: rgba(39, 71, 144, 0.9);
  color: #f5f3f5;
  font-size: 1.4rem;
  position: absolute;
  width: 42em; 
  top: 2em;
  left: 2em;
  border: #302b27 5px solid;
}

.signup-pg-header  h2{
  background-color: #576ca8;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

fieldset {
  display: inline;
} 

legend {
  background-color: #576ca8;
  font-size: 1.4rem;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 0.5em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-container-two {
  float: left;
}

.float-three {
  float: left;
}

.float-four {
  float: right;
}


.form-input {
  margin-top: 0.5em;
  margin-left: 3em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.input-size {
  display: block;
  width: 17em;
  margin-top: 0.4em;
  border: 2px solid #302b27;
  padding: 0.3em;
}

.which-train-sesh {
  margin-left: 2em;
}

#submitbtn {
  background-color: #1b264f;
  color: #f5f3f5;
  margin-top: 0.5em;
  margin-left: 15em;
  padding: 0.2em 0.4em 0.2em 0.4em;
}

.simple-background {
  background-color: #1b264f;
  color: #f5f3f5;
  height: 100vh;
}

.simple-background h3 {
  text-align: center;
  padding-top: 7em;
}

.error {
  background-color: #1b264f;
  color: #f5f3f5;
  padding-top: 0.4em;
  padding-left: 0.7em;
}

/* Media Queries */

    @media only screen and (max-width: 425px) {
      .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        }

      .nav-container a {
        padding: 0.5em;
        margin-top: 0.5em;
        margin-bottom: 4em;
        }

      .which-train-sesh {
        font-size: 1.1rem;
        }
  
      .invisible {
        display: none;
        }

      #submitbtn {
        margin-top: 0.1em;
        margin-bottom: 0.2em;
        }
      }


    @media only screen and (max-width: 664px) {
      .nav-container a {
        padding: 0.5em;
        margin-top: 0.5em;
        margin-bottom: 4em;
        }
      
      .form-background {
        background: none;
        background-color: #1b264f;
      }
      
      .signup-pg-header h2 {
        margin-bottom: 0;
        font-size: 1.5rem;
      }

      .signup-container {
        font-size: 1.4rem;
        float: none;
        width: 19em;
      }

      .input-size {
        display: block;
        width: 12em;
        margin-top: 0.2em;
        border: 1px solid #302b27;
        border-radius: 0.1em;
        padding: 0.1em;
      }

      fieldset {
        display: block;
      }

      .float-left {
        float: none;
      }
          
      .float-right {
        float: none;
        margin: 0;
      }

      #submitbtn {
        margin-top: 0.5em;
        margin-left: 5em;
        padding: 0.2em 0.4em 0.2em 0.4em;
      } 
    }

    @media screen and (max-width: 768px) {
      .hero-image {
        height: 300px;
      }
      
      .times-container {
        display: flex;
        flex-direction: column;
        align-content: center;
      }

      legend {
        display: none;
      }

      .form-input {
        margin-bottom: 0;
      }

      .gotopbtn {
        display: none;
      }

      #submitbtn {
        margin-top: 0.5em;
        margin-left: 5em;
        margin-bottom: 1em;
        padding: 0.2em 0.4em 0.2em 0.4em;
        } 
      }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .signup-container {
        left: 10em;
      }
    }

    @media screen and (max-width: 1024px) {
      .hero-image {
        height: 400px;
        }       
      }

    @media screen and (min-width: 1024px) {
      .signup-container {
        left: 25em;
      }
    }